## PLEASE rename this file as `config ` or the script won't work. ty :)

# time for sleep notification (in minutes)
timeStandUp=30
timeStandDown=30

# sounds location
standUpSound="${PROJECT_DIR}/sounds/stand_up.flac"
standDownSound="${PROJECT_DIR}/sounds/stand_down.flac"


# Choose a language (for the moment is supported only eng/ita)
language='eng'
